Projet_3-Red-Note/flows.json
[
    {
        "id": "b919b7ad02c679ab",
        "type": "tab",
        "label": "Météo Paris",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "95cc072e0184e472",
        "type": "tab",
        "label": "Température CPU",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "270650184263933b",
        "type": "ui_group",
        "name": "raspberrycpu",
        "tab": "3f64e65f9ad7fbec",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "po"
    },
    {
        "id": "3f64e65f9ad7fbec",
        "type": "ui_tab",
        "name": "Temp CPU",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4a543299781a73e2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f27eb83bc089c73c",
        "type": "openweathermap",
        "z": "b919b7ad02c679ab",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "paris",
        "country": "france",
        "language": "en",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "db8b4f964df3b0ef",
                "8abae5cf2636328e"
            ]
        ]
    },
    {
        "id": "a150933dbb2f28f9",
        "type": "inject",
        "z": "b919b7ad02c679ab",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 80,
        "y": 140,
        "wires": [
            [
                "f27eb83bc089c73c"
            ]
        ]
    },
    {
        "id": "db8b4f964df3b0ef",
        "type": "debug",
        "z": "b919b7ad02c679ab",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 140,
        "wires": []
    },
    {
        "id": "8abae5cf2636328e",
        "type": "change",
        "z": "b919b7ad02c679ab",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tempc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "eafcaf169d552560"
            ]
        ]
    },
    {
        "id": "eafcaf169d552560",
        "type": "ui_text",
        "z": "b919b7ad02c679ab",
        "group": "270650184263933b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Température actuelle (en celcius)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 280,
        "wires": []
    },
    {
        "id": "15b924b5b87439d5",
        "type": "inject",
        "z": "95cc072e0184e472",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "0ba67de2d9df621b"
            ]
        ]
    },
    {
        "id": "56a7f9b3bc53f04a",
        "type": "debug",
        "z": "95cc072e0184e472",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 140,
        "wires": []
    },
    {
        "id": "0ba67de2d9df621b",
        "type": "exec",
        "z": "95cc072e0184e472",
        "command": "vcgencmd measure_temp",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "raspberrycpu",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "56a7f9b3bc53f04a",
                "ba506d06d637a7b1"
            ],
            [],
            []
        ]
    },
    {
        "id": "ba506d06d637a7b1",
        "type": "change",
        "z": "95cc072e0184e472",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "temp=",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "'C",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "c14f260f046d1911",
                "cdbd9a1d392739f5"
            ]
        ]
    },
    {
        "id": "c14f260f046d1911",
        "type": "debug",
        "z": "95cc072e0184e472",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "cdbd9a1d392739f5",
        "type": "ui_gauge",
        "z": "95cc072e0184e472",
        "name": "",
        "group": "270650184263933b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp CPU",
        "label": "Celcius",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 700,
        "y": 260,
        "wires": []
    }
]